.Project {
    padding: 40px;
}

.Title-Project{
    text-align: center;
}

.Title-Project h2{
    font-family: "DM Serif Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.Title-Project p{
    font-size: 22px;
}

.Project-Layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px;
}

.Project-Interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Project-Interno h1{
    margin: 0;
    font-size: 20px;
}

#Like{
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.Project-Interno p{
    margin: 0;
}

.Project-img{
    width: 230px;
    height: 333px;

    border-radius: 15px;
}



@media (max-width: 768px) {
    .Project-Layout{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 568px) {
    .Project-Layout{
        grid-template-columns: repeat(1,1fr);
    }
}