.social-links{
    margin: 0;
    gap: 55px;
}
.Pages{ 
    margin: 0;
    padding: 0;
    gap: 9px;
}
.Pages h1{
  font-family:  "DM Serif Display", serif;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

ul{
    margin-top: 15px;
    padding: 0;
}

footer ul,li {
    list-style: none;
    
    text-decoration: none;
    margin-bottom: 30px;
}

a{
    color: inherit
}

a:hover{
    color: #0C70F2;
}

h1{
    color: black;
}



.inf{
    cursor: pointer;
    gap: 15px;
}

